.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    overflow: scroll;
    scrollbar-width: 0px;
}

.heading-text {
    font-size: 44px;
    font-weight: 800;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}

.divider {
    margin: 20px;
    color: #ff0000ff;
    stroke-width: 3px;
    line-cap: round;
}

.listItem{
    margin-bottom: 40px;
}


.buy-btn {
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 800;
}

.cart-item-card {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px;
}

.product-details-container {
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.image-container {
    width: 40%;
    object-fit: cover;
}

.cart-product-image {
    border-radius: 16px;
}

.details-text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}