.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    overflow: scroll;
    scrollbar-width: 0px;
}

.home-navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading-text {
    font-size: 44px;
    font-weight: 800;
    font-family: sans-serif;
    width: 100%;
}

.searchEl-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.filter-button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f3f3f3;
    border-radius: 16px;
    padding: 20px;
}

.comingSoonSection-container {
    flex-direction: row;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 8px 0px grey;
    margin-top: 40px;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.comingSoonSection-heading {
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
}

.notifyMeSwitch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0%;
}

switch {
    margin: 0px;
}

.label {
    font-size: 28px;
    text-align: center;
    color: grey;
}

.subHeading-text {
    font-size: 40px;
    font-weight: 800;
    margin-top: 40px;
}


.categories-container {
    margin-top: 20px;
    flex-direction: row;
    overflow: scroll;
}

.category-button {
    text-color: black;
    font-weight: 600;
    font-size: 30px;
    height: 80px;
    padding:20px;
    text-align: center;
    border-width: 2px;
    border-radius: 12px;
    border-color: rgb(239, 239, 240);
    margin-right: 40px;
}

.displaySection-container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.displaySection-heading{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.productsSection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card-container {
    width: 45%;
    height: 30%;
    margin-bottom: 40px;
    object-fit: cover;
}
.product-details-text {
    font-size: 24px;
    font-weight: 600;
}
